link(rel='import', href='../../bower_components/polymer/polymer.html')
link(rel='import', href='../../bower_components/paper-styles/typography.html')

dom-module#my-greeting
  link(rel='import', type='css', href='my-greeting.css')
  template
    h2.page-title {{greeting}}
    span Update text to change the greeting.
    // Listens for "input" event and sets greeting to <input>.value
    input(value='{{greeting::input}}')
  
  script(src='my-greeting.js')
