link(rel='import', href='../../bower_components/polymer/polymer.html')
link(rel='import', href='../../bower_components/paper-styles/typography.html')

dom-module#my-list
    link(rel='import', type='css', href='my-list.css')
    template
        ul
            template(is="dom-repeat", items="{{items}}")
                li
                    span {{item}}
  
    script(src='my-list.js')
